
.contentAnchor {
  position: relative;
}

.transition {
  height: 100%;
  z-index: 10;
  position: absolute;
}

.contentAnchor,
.transition {
  border: inherit;
  border-radius: inherit;
  font: inherit;
  font-size: inherit;
}
